<div class="simple-stats">
    
    <div class="simple-stats_item">
        <div class="text">
            <h2>Total visits:</h2>
            <p>200</p>
        </div>
        <div class="icon">
            <span class="material-icons-outlined">
                check_circle
            </span>
        </div>
    </div>
    
    <div class="simple-stats_item">
        <div class="text">   
            <h2>Total Time:</h2>
            <p>40000 Minutes</p>
        </div>
        <div class="icon">
            <span class="material-icons-outlined">
            check_circle
            </span>
        </div>
    </div>
    <div class="simple-stats_item">
        <div class="text">
            <h2>Longest Session:</h2>
            <p>3:45h</p>
        </div>
        <div class="icon">
            <span class="material-icons-outlined">
                check_circle
            </span>
        </div>
    </div>

    <div class="simple-stats_item">
        <div class="text">
            <h2>Shortest Session:</h2>
            <p>0:45h</p>
        </div>
        <div class="icon">
            <span class="material-icons-outlined">
                check_circle
            </span>
        </div>
    </div>
</div>
