/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    height: 100%;
    /* font-family: "Roboto", sans-serif; */
    background-color: var(--main-bg);
}

  :root{
    --main-bg: #F5F5F5;
    --header-footer:#293241;
    --elements-bg: #3D5A80;
    --akzent1:#EE6C4D;
    --white: #ffffff;
  }