<div id = "navi">
    <div id ="Logo"> 
        <h1>Gym Dashboard</h1>
    </div>

    <div id="header-left">
        <ul id="navi-list">
            <li class="list-item">
                <a href="#"> 
                    <span class="material-icons-outlined">
                    dashboard
                    </span> DASHBOARD</a>
            </li>
            <li class="list-item">
                <a href="#">
                    <span class="material-icons-outlined">
                        inventory_2
                        </span> PRODUKTE
                </a>
            </li>
           <li class="list-item">
            <a href="#">
                <span class="material-icons-outlined">
                    settings
                    </span> EINSTELLUNGEN
            </a>
           </li>
        </ul>
    </div>

    <div id = "header-right">
        <div id="icons">
            <span class="material-icons-outlined">notifications</span>
            <span class="material-icons-outlined">email</span>
            <span class="material-icons-outlined">account_circle</span>
        </div>
        
    </div>
</div>